<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minimock Configuration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
</head>
<body style="padding: 2rem;">
<h1>Minimock</h1>
<table class="table table-striped">
    {{#resources}}
    <tr>
        <td><a href="{{requestPath}}">{{requestPath}}</a></td>
        <td>{{httpMethod}}</td>
        <td>{{contentType}}</td>
        <td>
            <select>
                {{#availableResponses}}
                <option>{{name}} ({{statusCode}})</option>
                {{/availableResponses}}
            </select>
        </td>
        {{#selectedResponse}}
        <td><strong>selected:</strong> {{name}} ({{statusCode}})</td>
        {{/selectedResponse}}
    </tr>
    {{/resources}}
</table>
</body>
</html>
